xsd_importer/example/do-d-14.04-SPIGES-2024-02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright (c) 2023 by Swiss Federal Administration
  ~ All rights reserved.
  ~
  ~ This software is the confidential and proprietary information
  ~ of the Swiss Federal Administration. ("Confidential Information").  You
  ~ shall not disclose such Confidential Information and shall use
  ~ it only in accordance with the terms of the license agreement
  ~ you entered into with the Swiss Federal Administration.
  -->
<xs:schema xmlns="http://www.bfs.admin.ch/xmlns/gvs/spiges-data/1.4" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bfs.admin.ch/xmlns/gvs/spiges-data/1.4" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Unternehmen" type="UnternehmenType"/>
	<xs:complexType name="UnternehmenType">
		<xs:sequence>
			<xs:element name="Standort" type="StandortType" minOccurs="0" maxOccurs="50"/>
			<xs:element name="KostentraegerUnternehmen" type="KostentraegerType" minOccurs="0" maxOccurs="200"/>
			<xs:element name="KantonsdatenUnternehmen" type="KantonsdatenType" minOccurs="0" maxOccurs="10000"/>
		</xs:sequence>
		<xs:attribute name="ent_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StandortType">
		<xs:sequence>
			<xs:element name="Fall" type="FallType" minOccurs="0" maxOccurs="200000"/>
			<xs:element name="KostentraegerStandort" type="KostentraegerType" minOccurs="0" maxOccurs="200"/>
			<xs:element name="KantonsdatenStandort" type="KantonsdatenType" minOccurs="0" maxOccurs="10000"/>
		</xs:sequence>
		<xs:attribute name="burnr" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FallType">
		<xs:sequence>
			<xs:element name="Administratives" type="AdminstrativesType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Neugeborene" type="NeugeboreneType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Psychiatrie" type="PsychiatrieType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KostentraegerFall" type="KostentraegerType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Diagnose" type="DiagnoseType" minOccurs="0" maxOccurs="2000"/>
			<xs:element name="Behandlung" type="BehandlungType" minOccurs="0" maxOccurs="2000"/>
			<xs:element name="Medikament" type="MedikamentType" minOccurs="0" maxOccurs="200"/>
			<xs:element name="Rechnung" type="RechnungType" minOccurs="0" maxOccurs="10000"/>
			<xs:element name="Patientenbewegung" type="PatientenbewegungType" minOccurs="0" maxOccurs="10000"/>
			<xs:element name="Kantonsdaten" type="KantonsdatenType" minOccurs="0" maxOccurs="1000"/>
		</xs:sequence>
		<xs:attribute name="fall_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9999999999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AdminstrativesType">
		<xs:attribute name="burnr_gesv" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="abc_fall" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1"/>
					<xs:pattern value="A|B|C"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="geschlecht">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="alter">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="135"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="alter_U1">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="365"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="wohnort_medstat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="4"/>
					<xs:pattern value="[A-Z]{2}[0-9]{2}|[1-9]{1}[0-9]{3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="wohnkanton">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="AG|AI|AR|BE|BL|BS|FR|GE|GL|GR|JU|LU|NE|NW|OW|SG|SH|SO|SZ|TG|TI|UR|VD|VS|ZG|ZH"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="wohnland">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nationalitaet">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="eintrittsdatum" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:pattern value="(\d{4})(0[1-9]|1[0-2])([012]\d|3[01])([01]\d|2[0-3])?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="eintritt_aufenthalt" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="eintrittsart" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="einw_instanz" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|4|5|6|8|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="liegeklasse" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="versicherungsklasse" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|8|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="admin_urlaub" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="chlz">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aufenthalt_ips">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="beatmung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="schwere_score">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="art_score">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="S|P|C|P3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nems">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aufenthalt_imc">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aufwand_imc">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="hauptleistungsstelle" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="4"/>
					<xs:maxLength value="4"/>
					<xs:pattern value="M000|M050|M100|M200|M300|M400|M500|M600|M700|M800|M850|M900|M950|M960|M970|M990"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="grundversicherung" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|4|5|8|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="tarif" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="austrittsdatum">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:pattern value="(\d{4})(0[1-9]|1[0-2])([012]\d|3[01])([01]\d|2[0-3])?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="austrittsentscheid">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|4|5|8|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="austritt_aufenthalt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="austritt_behandlung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1|2|3|4|5|8|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NeugeboreneType">
		<xs:attribute name="geburtszeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:pattern value="([01]\d|2[0-3])([0-5]\d)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vitalstatus">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="mehrling">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="geburtsrang">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="geburtsgewicht">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="laenge">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="missbildungen">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="fall_id_mutter">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9999999999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="gestationsalter1">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="gestationsalter2">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vorh_schwanger">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vorh_lebendgeburten">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vorh_fehlgeburten">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vorh_abbrueche">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="aufnahmegewicht">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kopfumfang">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PsychiatrieType">
		<xs:attribute name="psy_zivilstand">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|4|5|6|7|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_aufenthalt">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99"/>
					<xs:pattern value="11|12|21|22|30|40|41|50|55|60|66|70|81|82|83|84|90"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_teilzeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_vollzeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_arbeitslos">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_hausarbeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_ausbildung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_reha">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_rente">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_gesch_arbeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_eintritt_unbekannt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_schulbildung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
					<xs:pattern value="110|130|22|24|31|32|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_einweisende_instanz">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99"/>
					<xs:pattern value="11|12|20|31|32|33|34|36|37|39|40|50|60|81|82|83|84|90"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_fu">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_behandlung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_neuroleptika">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_depotneuroleptika">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_antidepressiva">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_tranquilizer">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_hypnotika">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_antiepileptika">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_lithium">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_substitution">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_suchtaversion">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_antiparkinson">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_andere">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_pp_koerper_medi">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_entsch_austritt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_austritt_aufenthalt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_austritt_behandlung">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="psy_behandlungsbereich">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DiagnoseType">
		<xs:attribute name="diagnose_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="diagnose_kode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="diagnose_seitigkeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="diagnose_poa">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="diagnose_zusatz">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BehandlungType">
		<xs:sequence>
			<xs:element name="Operierende" type="OperierendeType" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
		<xs:attribute name="behandlung_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="behandlung_chop" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="behandlung_seitigkeit">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
					<xs:pattern value="0|1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="behandlung_beginn">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:pattern value="(\d{4})(0[1-9]|1[0-2])([012]\d|3[01])(([01]\d|2[0-3])([0-5]\d))?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="behandlung_auswaerts">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MedikamentType">
		<xs:attribute name="medi_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="10000000000000000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medi_atc">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medi_zusatz">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medi_verabreichungsart">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medi_dosis">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="28"/>
					<xs:fractionDigits value="10"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medi_einheit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RechnungType">
		<xs:attribute name="rech_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="10000000000000000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_kostentraeger" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_versicherer">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9999999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_unfallnr">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="17"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_betrag" use="required" type="xs:double"/>
		<xs:attribute name="rech_tariftyp">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_tarifcode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_ext_faktor">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_basispreis">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rech_einheit" type="xs:double"/>
		<xs:attribute name="rech_menge" type="xs:double"/>
	</xs:complexType>
	<xs:complexType name="KostentraegerType">
		<xs:attribute name="ktr_typ" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_beschr">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="256"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_60">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_61">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_62">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_65">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_66">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_68">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_69">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_697">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4001">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4002">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4012">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4011">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_40_rest">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4051">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_4052">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_3801">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_3802">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_3811">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_3812">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_480">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_485">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_486">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_10">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_20">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_21">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_23">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_24">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_25">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_26">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_27">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_28">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_29">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_30">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_1_5">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6a1">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6a2">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b1">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b2">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b3">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b4">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b5">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_32">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_33">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_34">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_35">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_36">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_38">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_39">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_40">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_41">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_42">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_43">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_44">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_45">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_77">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_nicht_pb">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_10_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_20_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_21_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_23_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_24_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_25_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_26_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_27_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_28_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_29_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_30_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_1_5_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6a1_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6a2_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b1_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b2_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b3_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b4_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_31_6b5_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_32_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_33_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_34_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_35_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_36_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_38_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_39_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_40_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_41_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_42_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_43_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_44_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_45_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_77_ank">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_44_vkl">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_kosten_65">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_le_ambulant">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="14"/>
					<xs:maxInclusive value="999999999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_methodik">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ktr_44_rekole">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:maxInclusive value="9999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>		
	</xs:complexType>
	<xs:complexType name="OperierendeType">
		<xs:attribute name="op_gln" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="9999999999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="op_liste">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="op_rolle" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PatientenbewegungType">
		<xs:attribute name="episode_id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="9999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="episode_beginn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:pattern value="(\d{4})(0[1-9]|1[0-2])([012]\d|3[01])([01]\d|2[0-3])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="episode_ende" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:pattern value="(\d{4})(0[1-9]|1[0-2])([012]\d|3[01])([01]\d|2[0-3])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="episode_art" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="burnr_episode">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="99999999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="wiedereintritt_aufenthalt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="99"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="grund_wiedereintritt">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="9"/>
					<xs:pattern value="1|2|3|9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KantonsdatenType">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="1000"/>
		</xs:sequence>
		<xs:attribute name="Kanton_Zusatzdaten" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="2"/>
					<xs:pattern value="AG|AI|AR|BE|BL|BS|FR|GE|GL|GR|JU|LU|NE|NW|OW|SG|SH|SO|SZ|TG|TI|UR|VD|VS|ZG|ZH"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>